<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
         <center><h3>Coaching</h3></center>
      <p><strong>Seeking coaching on navigating disability, neurodiversity, or personal and professional challenges and opportunities?</strong> I currently have vacancies for coaching clients. Simply reach out via email or <a href="#contact">the contact form</a> to start a conversation.</p>

          <center><a href="#contact" class="btn btn-lg btn-outline">
          <i class="fa fa-envelope"></i> Contact Me
        </a></center>
         <br/>
         <br/>
       </div>

<div class="col-lg-10 col-lg-offset-1">
<center><h3>Who am I?</h3></center>
  <hr class="star-primary">
<p>I'm Mark Cutter, sometimes known as Anthony Mark Cutter, the man in the purple hat. </p>

<p>With a passion for empowering others and a unique perspective shaped by lived experience, I wear many hats (sometimes including a literal purple one) in the disability and neurodiversity space.</p>

<p>As a disability advocate, I champion accessibility in transport, fight against hate crime, and advocate for fair disability benefits. I draw on my own journey with disability, neurodiversity, and mental health to inform my work as a speaker and writer, sharing insightful and relatable perspectives.</p>

<p>Currently, I'm expanding my horizons by training as a <strong>counselling psychologist</strong> at the Metanoia Institute, working with clients in low-cost settings.</p>

<p>Additionally, I'm pursuing <strong>executive coaching certification</strong>, specialising in neurodiversity, ADHD, and disability coaching. My unique blend of advocacy expertise, lived experience of physical disability, and psychological understanding sets me apart, allowing me to empower individuals and organisations to reach their full potential. <strong>I currently have vacancies for coaching clients at a relatively low cost, so if you are interested in working with me, please get in touch.</strong></p>

<p>Beyond coaching, I offer <strong>consultancy and speaking services</strong> within the disability field. My diverse background and personal story bring depth and authenticity to my presentations and collaborations. If you're looking to engage a passionate and knowledgeable speaker or consultant, please get in touch.</p>
<br/>
         <br/>
<center><h3>Lived experience</h3></center>
  <hr class="star-primary">
<p>My lived experience is at the heart of my work. I have a particular interest in experiences of financial distress and trauma. I am a former social entrepreneur who had some experiences of success but some experiences of failure, too (which you may also have seen if you've Googled me).</p>

<p>The distress associated with these experiences, and the desire to understand them, led me to the field of psychology, but the route there was a multifaceted one.  Throughout my studies in law, medical ethics, social science, psychoanalysis, and hypnotherapy, a common thread emerged: a drive to understand and address the challenges faced by individuals with disabilities, neurodiverse brains, and experiences of mental ill-health.</p> 

<p>My entrepreneurial endeavours, with their share of lessons learned, have further enriched my perspective, and my personal experience with financial distress and its lasting impact continues to fuel my commitment to social justice. Today, I'm even spearheading research on the concept of "financial trauma," a topic deeply ingrained in my own story.</p>

<p><strong>I am Mark Cutter, and I'm here to guide and empower others on their individual journeys.</strong> If you're looking for a collaborative partner who understands the complexities of disability, neurodiversity, and personal challenges, I invite you to connect. Let's turn possibilities into realities.</p>
</div>
  
    </div>
  </div>
</section>
