<!-- Lived Experience Section -->
<section class="success" id="livedexperience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {% assign section = site.about | where: "slug", "livedexperience" | first %}
        <h2>{{ section.title }}</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
  
        <div class="col-lg-10 col-lg-offset-1">
                {{ section.content | markdownify }}
                <br/>
                <br/>
              </div>
      
    </div>
  </div>
</section>
