<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  <!-- Header -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="{{site.url}}/img/hat.svg" alt="profile-pic" />
          <div class="intro-text">
            <h2 class="name">{{ page.title }}</h2>
            <hr class="star-light" />
            <div class="PageNavigation">
                {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">&laquo; Previous post</a>
                {% endif %}
                {% if page.previous.url or page.next.url %}
                  <a class="blog" href="{{site.url}}/blog">See all blog posts</a>
                {% endif %}
                {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}"> Next post &raquo;</a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="page">
  <div class="col-lg-10">
    {{ content }}
  </div>
  </section>

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
</body>

</html>
