---
layout: page
---
<div class="container">
      <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ page.date | date: "%b %-d, %Y" }}</h3>
            </div>
            <hr class="star-primary">
            <div class="col-lg-10 col-lg-offset-1 featured-image">
                <img src="{{site.url}}/{{ page.img }}"/>
            </div>
            <hr class="star-primary">
            <div class="col-lg-10">
            {{ content }}
            </div>
        </div>
      </div>
</div>
