---
layout: page
---
<div class="container">
      <div class="row">
            <div class="col-lg-12">
            <h3>{{ page.date | date: "%b %-d, %Y" }}</h3>
            <hr class="star-primary"></hr>
            </div>
            <div class="col-lg-12 featured-image">
                <img src="{{site.url}}/{{ page.img }}"/>
                  <hr class="star-primary"></hr>
            </div>
            <div class="col-lg-12">
            {{ content }}
            </div>
        </div>
      </div>
</div>
